# Default ignored files
/workspace.xml
.idea\
.idea
.pyc
myvenv
../.idea/
__pycache__/
myvenv/
venv/
venv
.xml

# Default ignored files
/workspace.xml
.idea
.pyc
myvenv
../.idea/
__pycache__/
myvenv/
venv/
venv
.xml
/modules.xml
.gitignore
/inspectionProfiles
/profiles_settings.xml
/misc.xml
/vcs.xml